@model IEnumerable<LTWeb05_Bai02.Models.Department>

@{
    ViewBag.Title = "Danh sách phòng ban";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
</head>
<body>
    <h2 class="fw-bold text-center mt-3" style="color: blue">Danh sách Phòng ban</h2>

    <table class="table table-striped border">
        <thead class="bg-primary text-white">
            <tr>
                <th>Mã phòng</th>
                <th>Tên phòng</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.MaPg)</td>
                    <td>@Html.DisplayFor(modelItem => item.TenPg)</td>
                    <td class="text-decoration-none">
                        @Html.ActionLink("Xem chi tiết", "ChiTietPhongBan", new { id = item.MaPg }, new { @class = "text-decoration-none" })
                        <span class="mx-2">|</span>
                        @Html.ActionLink("Xem nhân viên", "NhanVienTheoPhong", new { id = item.MaPg }, new { @class = "text-decoration-none" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>


